:root {
    --colwidth: 18em;
}

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Georgia, serif;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: rgb(194, 194, 194);
}

html {
    overflow-y: hidden;
}

.container {
    height: 100%;
    width: 100%;
    transition: margin-left .5s;
}

.top-bar {
    display: flex;
    position: relative;
    height: 6vh;
    min-height: 30px;
    background-color: rgb(109, 119, 130);
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    position: relative;
    height: 2em;
    width: 2em;
    background: url("imgs/list.svg");
    background-size: cover;
    margin-left: 1.5em;
    cursor: pointer;
}

#site-title {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 1.5em;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(52, 53, 54);
    overflow-x: hidden;
    padding-top: 5vh;
    transition: 0.5s;
}

#categories {
    height: 80%;
    overflow-y: scroll;
}

#options {
    color: white;
    font-size: larger;
    position: relative;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#options div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 2em;
}

#plus {
    position: relative;
    height: 2em;
    width: 2em;
    background: url("imgs/plus.svg");
    background-size: cover;
    cursor: pointer;
}

#minus {
    position: relative;
    height: 2em;
    width: 2em;
    background: url("imgs/dash.svg");
    background-size: cover;
    cursor: pointer;
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #959595;
    display: block;
    transition: 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.side-menu a:hover {
    color: #f1f1f1;
}

.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.hamburger:hover {
    transform: scale(1.05);
}

@media screen and (max-height: 450px) {
    .side-menu {
        padding-top: 1vh;
    }
    .side-menu a {
        font-size: 18px;
    }
    #options {
        font-size: small;
    }
}

@media screen and (max-width: 650px) {
    #site-title {
        font-size: 18px;
        text-align: end;
    }
}

#app-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--colwidth));
    justify-content: space-evenly;
    grid-gap: 2em 1em;
    margin: 2em;
}

.app {
    display: flex;
    max-height: 16em;
    background-color: white;
    border-radius: 0 0 0.5em 0.5em;
}

.image-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: calc(var(--colwidth) * 0.5625); /* for aspect-ratio 16:9*/
}

.start-icon {
    position: relative;
    height: 6em;
    width: 6em;
    background: url("imgs/start.svg");
    background-size: cover;
    cursor: pointer;
}

.click-start {
    position: relative;
    font-size: 1.5em;
    color: rgb(49, 49, 49);
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.7);
}

.app:hover .overlay {
    opacity: 1;
}

a {
    text-decoration: none;
}

.app a {
    text-decoration: none;
    width: 100%;
}

.app-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.app-title {
    position: relative;
    max-height: 4em;
    overflow: hidden;
    font-size: 1em;
    text-align: center;
    color: rgb(49, 49, 49);
    margin: 0.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.active-category {
    background-color: rgb(75, 77, 78);
    color: #ffffff !important;
}